POSTGRES_USER=knowledge_admin
POSTGRES_PASSWORD=knowledge_pass_2026
POSTGRES_DB=knowledge_base
POSTGRES_PORT=5432

BACKEND_PORT=8000
ES_PORT=9200
REDIS_PORT=6379

NMHT_BASE_URL=https://nmht.zhuanspirit.com
NMHT_COOKIE=
